[Desktop Entry]
Name=Firefox I2P Edition
Name[tr]=Firefox I2P Edition
Name[bg]=Firefox I2P Edition
Name[ca]=Firefox I2P Edition
Name[cs]=Firefox I2P Edition
Name[el]=Firefox I2P Edition
Name[es]=Firefox I2P Edition
Name[fa]=Firefox I2P Edition
Name[fi]=Firefox I2P Edition
Name[fr]=Firefox I2P Edition
Name[hu]=Firefox I2P Edition
Name[it]=Firefox I2P Edition
Name[ja]=Firefox I2P Edition
Name[ko]=Firefox I2P Edition
Name[nb]=Firefox I2P Edition
Name[nl]=Firefox I2P Edition
Name[nn]=Firefox I2P Edition
Name[no]=Firefox I2P Edition
Name[pl]=Firefox I2P Edition
Name[pt]=Firefox I2P Edition
Name[pt_BR]=Firefox I2P Edition
Name[ru]=Firefox I2P Edition
Name[sk]=Firefox I2P Edition
Name[sv]=Firefox I2P Edition

Comment=Privacy and security focused hardened I2P Browser. Cannot access clearnet.
Comment[tr]=Gizlilik ve güvenliğe odaklanan sertleştirilmiş I2P Tarayıcısı. Clearnete erişemez.
Comment[bg]=Фокусиран върху поверителността и сигурността, подсилен I2P браузър. Не може да достъпва clearnet.
Comment[ca]=Navegador I2P endurit centrat en la privadesa i la seguretat. No pot accedir a la clearnet.
Comment[cs]=Prohlížeč I2P zaměřený na soukromí a bezpečnost. Nemůže přistupovat k clearnetu.
Comment[de]=Auf Datenschutz und Sicherheit fokussierter, gehärteter I2P-Browser. Kann nicht auf das Clearnet zugreifen.
Comment[el]=Περιηγητής I2P με έμφαση στην ιδιωτικότητα και την ασφάλεια. Δεν μπορεί να έχει πρόσβαση στο clearnet.
Comment[es]=Navegador I2P reforzado centrado en la privacidad y seguridad. No puede acceder a la clearnet.
Comment[fa]=مرورگر سخت‌شده I2P با تمرکز بر حریم خصوصی و امنیت. قادر به دسترسی به کلیرنت نیست.
Comment[fi]=Yksityisyyteen ja turvallisuuteen keskittyvä vahvistettu I2P-selain. Ei pääse clearnetiin.
Comment[fr]=Navigateur I2P renforcé axé sur la confidentialité et la sécurité. Ne peut pas accéder au clearnet.
Comment[hu]=Adatvédelemre és biztonságra összpontosító megerősített I2P böngésző. Nem férhet hozzá a clearnethez.
Comment[it]=Browser I2P rinforzato incentrato su privacy e sicurezza. Non può accedere alla clearnet.
Comment[ja]=プライバシーとセキュリティに重点を置いた強化I2Pブラウザ。クリアネットにアクセスできません。
Comment[ko]=개인 정보 보호 및 보안에 중점을 둔 강화된 I2P 브라우저. 클리어넷에 접속할 수 없습니다.
Comment[nb]=Personvern- og sikkerhetsfokusert herdet I2P-nettleser. Kan ikke få tilgang til clearnet.
Comment[nl]=Op privacy en veiligheid gerichte geharde I2P-browser. Geen toegang tot het clearnet.
Comment[nn]=Personvern- og tryggingsfokusert herda I2P-nettlesar. Kan ikkje få tilgang til clearnet.
Comment[no]=Personvern- og sikkerhetsfokusert herdet I2P-nettleser. Kan ikke få tilgang til clearnet.
Comment[pl]=Wzmocniona przeglądarka I2P skupiona na prywatności i bezpieczeństwie. Nie ma dostępu do clearnetu.
Comment[pt]=Navegador I2P reforçado com foco em privacidade e segurança. Não pode acessar a clearnet.
Comment[pt_BR]=Navegador I2P reforçado com foco em privacidade e segurança. Não pode acessar a clearnet.
Comment[ru]=Усиленный браузер I2P, ориентированный на конфиденциальность и безопасность. Не может получить доступ к clearnet.
Comment[sk]=Prehliadač I2P zameraný na súkromie a bezpečnosť. Nemôže pristupovať k clearnetu.
Comment[sv]=Integritet- och säkerhetsfokuserad härdad I2P-webbläsare. Kan inte komma åt clearnet.

GenericName=Web Browser
GenericName[tr]=Web Tarayıcı
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare

X-GNOME-FullName=Firefox I2P Edition Browser
X-GNOME-FullName[tr]=Firefox I2P Edition Tarayıcı
X-GNOME-FullName[bg]=Интернет браузър (Firefox I2P Edition)
X-GNOME-FullName[ca]=Navegador web Firefox I2P Edition
X-GNOME-FullName[cs]=Firefox I2P Edition Webový prohlížeč
X-GNOME-FullName[el]=Περιηγητής Ιστού Firefox I2P Edition
X-GNOME-FullName[es]=Navegador web Firefox I2P Edition
X-GNOME-FullName[fa]=مرورگر اینترنتی Firefox I2P Edition
X-GNOME-FullName[fi]=Firefox I2P Edition-selain
X-GNOME-FullName[fr]=Navigateur Web Firefox I2P Edition
X-GNOME-FullName[hu]=Firefox I2P Edition webböngésző
X-GNOME-FullName[it]=Firefox I2P Edition Browser Web
X-GNOME-FullName[ja]=Firefox I2P Edition ウェブ・ブラウザ
X-GNOME-FullName[ko]=Firefox I2P Edition 웹 브라우저
X-GNOME-FullName[nb]=Firefox I2P Edition Nettleser
X-GNOME-FullName[nl]=Firefox I2P Edition webbrowser
X-GNOME-FullName[nn]=Firefox I2P Edition Nettlesar
X-GNOME-FullName[no]=Firefox I2P Edition Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Firefox I2P Edition
X-GNOME-FullName[pt]=Firefox I2P Edition Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Firefox I2P Edition
X-GNOME-FullName[ru]=Интернет-браузер Firefox I2P Edition
X-GNOME-FullName[sk]=Internetový prehliadač Firefox I2P Edition
X-GNOME-FullName[sv]=Webbläsaren Firefox I2P Edition

Exec=firefox -P Hardened -no-remote
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/rift/i2pfox.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox-esr
StartupNotify=true