[Desktop Entry]
Name=Firefox Clearnet
Name[tr]=Firefox Clearnet
Name[bg]=Firefox Clearnet
Name[ca]=Firefox Clearnet
Name[cs]=Firefox Clearnet
Name[el]=Firefox Clearnet
Name[es]=Firefox Clearnet
Name[fa]=Firefox Clearnet
Name[fi]=Firefox Clearnet
Name[fr]=Firefox Clearnet
Name[hu]=Firefox Clearnet
Name[it]=Firefox Clearnet
Name[ja]=Firefox Clearnet
Name[ko]=Firefox Clearnet
Name[nb]=Firefox Clearnet
Name[nl]=Firefox Clearnet
Name[nn]=Firefox Clearnet
Name[no]=Firefox Clearnet
Name[pl]=Firefox Clearnet
Name[pt]=Firefox Clearnet
Name[pt_BR]=Firefox Clearnet
Name[ru]=Firefox Clearnet
Name[sk]=Firefox Clearnet
Name[sv]=Firefox Clearnet

Comment=Firefox web browser
Comment[tr]=Firefox web tarayıcısı
Comment[bg]=Firefox уеб браузър
Comment[ca]=Navegador web Firefox
Comment[cs]=Firefox webový prohlížeč
Comment[de]=Firefox Webbrowser
Comment[el]=Firefox περιηγητής ιστού
Comment[es]=Navegador web Firefox
Comment[fa]=مرورگر وب فایرفاکس
Comment[fi]=Firefox web-selain
Comment[fr]=Navigateur web Firefox
Comment[hu]=Firefox webböngésző
Comment[it]=Browser web Firefox
Comment[ja]=Firefox ウェブブラウザ
Comment[ko]=Firefox 웹 브라우저
Comment[nb]=Firefox nettleser
Comment[nl]=Firefox webbrowser
Comment[nn]=Firefox nettlesar
Comment[no]=Firefox nettleser
Comment[pl]=Przeglądarka internetowa Firefox
Comment[pt]=Navegador web Firefox
Comment[pt_BR]=Navegador web Firefox
Comment[ru]=Веб-браузер Firefox
Comment[sk]=Firefox webový prehliadač
Comment[sv]=Firefox webbläsare

GenericName=Web Browser
GenericName[tr]=Web Tarayıcı
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare

X-GNOME-FullName=Firefox Web Browser
X-GNOME-FullName[tr]=Firefox Web Tarayıcısı
X-GNOME-FullName[bg]=Firefox Web Browser
X-GNOME-FullName[ca]=Firefox Web Browser
X-GNOME-FullName[cs]=Firefox Web Browser
X-GNOME-FullName[el]=Firefox Web Browser
X-GNOME-FullName[es]=Firefox Web Browser
X-GNOME-FullName[fa]=Firefox Web Browser
X-GNOME-FullName[fi]=Firefox Web Browser
X-GNOME-FullName[fr]=Firefox Web Browser
X-GNOME-FullName[hu]=Firefox Web Browser
X-GNOME-FullName[it]=Firefox Web Browser
X-GNOME-FullName[ja]=Firefox Web Browser
X-GNOME-FullName[ko]=Firefox Web Browser
X-GNOME-FullName[nb]=Firefox Nettleser
X-GNOME-FullName[nl]=Firefox webbrowser
X-GNOME-FullName[nn]=Firefox Nettlesar
X-GNOME-FullName[no]=Firefox Nettleser
X-GNOME-FullName[pl]=Firefox Web Browser
X-GNOME-FullName[pt]=Firefox Web Browser
X-GNOME-FullName[pt_BR]=Firefox Web Browser
X-GNOME-FullName[ru]=Firefox Web Browser
X-GNOME-FullName[sk]=Firefox Web Browser
X-GNOME-FullName[sv]=Firefox Web Browser

Exec=firefox -P Clearnet -no-remote
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/rift/clearnet.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox-esr
StartupNotify=true